{% load static %}
<footer>
    <!-- bootstrap select for the sweet searchable dropdown-->
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js">
    $('.selectpicker').selectpicker('render');
    -->
    <!-- custom stuff -->
    <script type="text/javascript" src="{% static "main/phenology.custom.js" %}"></script>
    <link rel="stylesheet" href="{% static "main/style.css" %}" type="text/css">
</footer>
